/*Css for install.html*/

body{
    text-align: center;
}
#box{
    height: 200px;
    width: 200px;
    background: #fc3;
    margin: 0 auto;
    text-align: center;
    line-height: 200px;
}
.thing{
    height: 200px;
    width: 200px;
    background: #ac3;
    margin: 20px auto;
    text-align: center;
    line-height: 200px;
    border-top-left-radius: 200px;
}

button{
    background: #933;
    color: white;
    padding: 10px;
    border: solid 2px black;
    border-radius: 5px;
    font-size: 18px;
    margin: 20px 0;
    
}
button:hover{
    cursor: pointer;
}
/*
button:active{
    position: relative;
    top: 1px;
}
*/

#hideMe{
    font-size: 10px;
    padding: 3px;
}

.top-bar{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    color: white;
    width: 100%;
    display: none;
}

body#selectors{
text-align: left;
}
/*Css for events.html*/

body#events{
    width: 600px;
    margin: 0 auto;
}
form input{
    display: inline-block;
    margin: 10px 0;
}

/*Css for chaining*/

.notification-bar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
    display: none;
}
.notification-bar a{
    color: #fc3;
}

/*Css for Hide-Show*/

.hidden{
    display: none;
}
#box1{
    height: 100px;
    width: 100px;
    background: #fc3;
    color: white;
    border: solid 4px #333;
    margin: 0 auto;
}

/*css for animate.html*/
#navArrows{
    position: relative;
    width: 150px;
    height: 150px;
    margin: 100px auto 0;
    background: #333;
    border-radius: 100px;
    padding: 20px;
}

.navigationArrow{
    width: 50px;
    height: 50px;
    line-height: 50px;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 20px;
    left: 20px;
    background: white;
    color: #222;
}

#up{
    left: 50%;
    margin-left: -25px;
}

#left,#right{
    top: 50%;
    margin-top: -25px;
}
#right{
    right: 20px;
   left: inherit;
}
#down{
    bottom: 20px;
    top: inherit;
    left: 50%;
    margin-left: -25px;
}
.box{
    height: 100px;
    width: 100px;
    background: #a7f;
    color: white;
    border: solid 4px #a1f;
    line-height: 100px;
    margin: 100px auto 0;
    opacity: 0.5;
    
/*    I want to move this box  in jQuery so  i have to set position property to this box otherwise we won't be able to move*/
    position: relative;
    
}

/*css for css.html*/

#circle1{
    background: #8a8;
    color: white;
    width: 150px;
    height: 150px;
    text-align: center;
    line-height: 150px;
    margin: 40px;
    display: inline-block;
}
.circleShape{
    border-radius: 100%;
}

.danger{
    border: solid 1px red;
}
.success{
    border: solid 1px green;
}


/************************************************************
**********************CAR RACER GAME*************************
************************************************************/

#racetrack{
    background: url('../img/road.jpg') center left repeat-x;
    height: 330px;
    box-sizing: border-box;
    margin: 40px 0;
    border-right: dashed 10px white;/*finish line*/
}
.car{
    position: relative;
    display: block;
}
#car1{top: 30px;}
#car2{top: 100px;}

#raceInfoContainer{
    width: 80%;
    margin: 40px auto 0;
    background: #333;
    height: 200px;
}
#raceInfoContainer h2{
    color: white;
    text-transform: uppercase;
    padding: 20px 0;
    border-bottom: solid 1px white;
}
.raceInfo{
    font-size: 24px;
    font-weight: bold;
    color: white;
    width: 50%;
    float: left;
}

.raceInfo span{
    display: block;
    font-weight: normal;
    font-size: 18px;
    color: white;
}

#raceInfo1{ color: #77B82F; }
#raceInfo2{ color: #B82F3E; }

input[type="button"]{
    background: #77B82F;
    color: white;
    padding: 10px 20px;
    border: solid 1px #444;
    cursor: pointer;
}
input#reset{
    background: #fc3;
    color: #444;
}
.clearfix:after{
    content: "";
    display: block;
    clear: both;
}
